---
export interface Props {
  srcDesktop: string;
  srcMobile: string;
  title: string;
}

const { title, srcDesktop, srcMobile } = Astro.props;
---

<div class="relative group">
  <img loading="lazy" src={srcMobile} alt={title} class="md:hidden w-full" />
  <img
    loading="lazy"
    src={srcDesktop}
    alt={title}
    class="hidden md:block w-full"
  />
  <div
    class="absolute from-transparent to-gray-900 bg-gradient-to-b inset-0 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70"
  >
  </div>
  <h3
    class="uppercase max-w-40 absolute bottom-0 m-4 mx-6 text-2xl text-white font-light group-hover:scale-110 transition group-hover:text-black"
  >
    {title}
  </h3>
</div>
